// font variables
$font-nunito: 'Nunito', sans-serif;

// color variables
$text-secondary: rgb(51, 51, 51);
$text-alert: rgb(212, 86, 86);
$text-success: rgb(126, 204, 0);

$bg-primary: rgb(250, 250, 250);

// margin variables
$m0: 0;
$m10: 10px;

// padding variables
$p10: 10px;

// font variables
$font-size-md: 50px;
$font-size-lg: 60px;
